.imgBox {
  position: relative;
}

.imgCar {
  width: 350px;
}

.imgTxt {
  position: absolute;
  color: rgb(228, 228, 228);
  font-size: 18px;
  bottom: -10px;
  right: 0px;
  background-color: #0e0404cc;
  width: 250px;
  padding: 5px 25px;
  text-align: right;
}

.priceBanner {
  position: absolute;
  color: white;
  background-color: #ca3f56;
  top: 15px;
  left: 0px;
  padding: 5px;
}

.desc-txt {
  height: 160px;
}

.card {
  background-color: #18070728;
}
